<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <article>
      <h1><%= title %></h1>
      <p>The domain name <strong><%= domain %></strong> has been reserved by <strong><%= owner %></strong>.</p>
      <p>Here are a some things you could do now:</p>
      <ul>
        <li>Read a good book</li>
        <li>Hang out with some friends</li>
        <li>Enjoy sunset</li>
      </ul>
    </article>
  </body>
</html>